docx
html2text
langchain_chroma
# install markdown depenendies with: `pip install "unstructured[md]"` after install the requirements file. Leave this line commented out. 

python-dotenv # For reading environment variables stored in .env file
langchain==0.1.20
langchain-community
langchain-openai # For embeddings
unstructured # Document loading
# onnxruntime==1.17.1 # chromadb dependency: on Mac use `conda install onnxruntime -c conda-forge`
# For Windows users, install Microsoft Visual C++ Build Tools first
# install onnxruntime before installing `chromadb`
chromadb==0.4.0 # Vector storage
openai # For embeddings
tiktoken  # For embeddings 
streamlit
faiss-cpu
faiss
pickle